.heading-primary {}

.heading-secondary {}

.heading-tertiary {}

.quote-text--right {
    width: 50%;
    margin-left: auto;
    font-size: 1.9rem;

    @include response(tab-port) {
        width: 100%;
    }
}

.image {
    &-heading {
        @include Garamond(bold);
        font-size: 3.6rem;
        color: #333;
        text-align: center;
        letter-spacing: 0.5px;

        &--lg {
            font-size: 6rem;
        }
    }

    &-type {
        @include Garamond(medium);
        font-size: 1.2rem;
        color: #b20000;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
    }
}

.quote {
    &-text {
        @include Garamond(medium);
        line-height: 2.6rem;
        font-size: 2rem;
        color: #333;
        letter-spacing: 0.5px;
        text-align: left;
        padding-bottom: 1.5rem;

        &--end {
            padding-bottom: 0;
        }
    }

    &-author {
        @include Garamond(medium);
        font-size: 1.2rem;
        color: #b20000;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: left;
        padding-top: 1.5rem;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: #333;
    }

    &::before {
        margin-bottom: 2.5rem;
    }

    &::after {
        margin-top: 2.5rem;
    }
}

.next-page {
    width: 50%;
    margin: 0 auto;
    padding: 15rem 0;

    @include response(phone) {
        width: 80%;
        padding: 10rem 0;
    }

    &::before {
        content: "";
        margin-bottom: 4rem;
        display: block;
        height: 1px;
        width: 100%;
        background-color: #333;
    }
}

.prequote-heading {
    @include Garamond(bold);
    font-size: 3.6rem;
    color: #333;
    text-align: center;
    letter-spacing: 0.5px;

    width: 50%;
    margin: 0 auto;
    line-height: 4rem;
    margin-bottom: 10rem;

    @include response(tab-land) {
        width: 75%;
        line-height: 5rem;
    }

    @include response(phone) {
        width: 100%;
        line-height: 7rem;
    }

    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: #333;
        width: 90%;
        margin: 2rem auto;
    }
}

.text-soon {
    font-size: 2.6rem;
    color: rgb(100, 100, 100);
}