.link-active {
  color: #b20000;
}

img {
  width: 100%;
  filter: grayscale(1);
  mix-blend-mode: multiply;

  &:hover {
    filter: none;
    mix-blend-mode: normal;
  }
}

.image {
  &-heading {
    @include Garamond(bold);
    font-size: 36px;
    color: #333;
    text-align: center;
    letter-spacing: 0.5px;
  }

  &-type {
    @include Garamond(medium);
    font-size: 12px;
    color: #b20000;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }
}

.quote {
  &-text {
    @include Garamond(medium);
    line-height: 26.6px;
    font-size: 20px;
    color: #333;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 1.5rem;
  }

  &-author {
    @include Garamond(medium);
    font-size: 12px;
    color: #b20000;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 1.5rem;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #333;
  }
  &::before {
    margin-bottom: 2.5rem;
  }
  &::after {
    margin-top: 2.5rem;
  }
}

.next-page {
  width: 50%;
  margin: 0 auto;
  padding: 15rem 0;

  @include response(phone) {
    width: 80%;
  }

  &::before {
    content: "";
    margin-bottom: 4rem;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #333;
  }
}

section[class^="section"] {
  @include response(phone) {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100% !important;
      margin: 10rem 0 0 !important;
    }
  }
}
