.link {
  color: #b20000;
}

.cursive {
  font-style: italic;
  margin-right: 3px;
}


img,
video {
  width: 100%;
  filter: grayscale(1);
  mix-blend-mode: multiply;

  &:hover {
    filter: none;
    mix-blend-mode: normal;
  }
}

section[class^="section"] {
  @include response(tab-port) {
    margin: 0 !important;
    display: flex;
    flex-direction: column;

    &>* {
      width: 100% !important;
      // margin: 10rem 0 0 !important;
      margin: 5rem 0 !important;
    }
  }
}

.motion {
  &-heading {
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    margin-left: 7.5rem;
    width: 35%;

    @include response(tab-port) {
      margin-left: 0;
    }

    @include response(phone) {
      margin-bottom: 2rem;
    }
  }

  &-content {
    font-size: 19px;
    font-style: normal;
    width: 65%;

    & p {
      margin-bottom: 2rem;
    }
  }
}

.section-credits {
  width: 100%;
  padding: 8rem 0;
  margin-left: auto;

  &>* {
    width: 50%;
    margin-left: auto;
  }

  &__heading {
    @include Play;
    font-size: 16px;
  }

  &__text {
    margin-top: 1rem;
    font-size: 20px;
  }
}