include ../templates/head-template.pug
    header.header.hygge-notecard
        include ../templates/header.pug
    main.main.hygge-notecard
        section.section1 
            figure.section1__img1
                figcaption
                    h2.image-heading.image-heading--lg Hygge Notecard Collection
                    h4.image-type Editorial
                img(src="/assets/page1/1.jpg", alt="img1", class="")
                
    include ../templates/footer.pug