include ../templates/head-template.pug
    header.header.page2
        include ../templates/header.pug
    main.main.page2 
        section.section1 
            figure.section1__img1
                img(src="/assets/page2/1.jpg", alt="img1", class="")
                figcaption
                    h2.image-heading Seeing Double
                    h4.image-type Editorial
            figure.section1__img2
                img(src="/assets/page2/2.jpg", alt="img2", class="")
                figcaption.image__desc
                    h2.image-heading Frida Escobedo
                    h4.image-type Editorial
        section.section2
            figure.section2__img1
                video(autoplay loop muted playsinline)
                    source(src="/assets/page2/3.mp4", type="video/mp4")
                figcaption
                    h2.image-heading The Kinfolk Home
                    h4.image-type Film
            blockquote.section2__quote.quote
                p.quote-text Other magazines may have come before it, but Kinfolk sparked a new form of lifestyle publishing that provides a broader approach to living, traveling, cooking and discovering new things to make and do. And the appeal seems to be universal.
                p.quote-author Forbes Magazine
        section.section3
            figure.section3__img1
                img(data-src="/assets/page2/4.jpg", alt="img4", class="lazyload")
                figcaption
                    h2.image-heading Minted
                    h4.image-type Advertising
            figure.section3__img2
                img(data-src="/assets/page2/5.jpg", alt="img5", class="lazyload")
                figcaption.image__desc
                    h2.image-heading Weekend Edition Notecards
                    h4.image-type Publishing
        section.section4
            figure.section4__img1
                img(data-src="/assets/page2/6.jpg", alt="img6", class="lazyload")
                figcaption
                    h2.image-heading Ouur Collection AW15
                    h4.image-type Advertising
        section.section5
            .section5__content--left
                figure.section5__img1
                    img(data-src="/assets/page2/7.jpg", alt="img7", class="lazyload")
                    figcaption
                        h2.image-heading Compare and Contrast
                        h4.image-type Editorial
            .section5__content--right            
                blockquote.section5__quote.quote
                    p.quote-text One of the key methods some designers adopt to overcome creative blocks is called divergent thinking. This thought process facilitates innovation and creativity by exploring options rather than adhering to a rigid compendium of rules. Like design, happiness isn’t one-size-fits-all, and we need to consider our own needs rather than resorting to people-pleasing solutions. Similarly, products designed for the masses without considering individuals—everything from right-handed fountain pens to “flesh-colored” Band-Aids—often leave a significant percentage of the population wanting. When it comes to our individual happiness, we need to keep our minds open instead of blindly following the pack—what actually brings us joy rarely aligns with what should make us happy.
                    p.quote-author Rachel Eva Lim, Happiness by design, Kinfolk design issue         
                figure.section5__img2
                    video(autoplay loop muted playsinline)
                        source(src="/assets/page2/8.mp4", type="video/mp4")
                    figcaption.image__desc
                        h2.image-heading Honey Harvest
                        h4.image-type Film
        section.section6
                figure.section6__img1
                    img(data-src="/assets/page2/9.jpg", alt="img9", class="lazyload")
                    figcaption
                        h2.image-heading In Praise of Slowness
                        h4.image-type Editorial
        section.section7
            .section7__content--left
                figure.section7__img1
                    img(data-src="/assets/page2/10.jpg", alt="img10", class="lazyload")
                    figcaption
                        h2.image-heading Ouur Collection AW14
                        h4.image-type Advertising
                figure.section7__img2
                    img(data-src="/assets/page2/11.jpg", alt="img11", class="lazyload")
                    figcaption
                        h2.image-heading The Path to Success
                        h4.image-type Editorial
            .section7__content--right
                figure.section7__img3
                    img(data-src="/assets/page2/12.jpg", alt="img12", class="lazyload")
                    figcaption
                        h2.image-heading Geraldine Cleary
                        h4.image-type Editorial
        section.section8
            blockquote.section8__quote.quote
                    p.quote-text One of the fundamental ways to transform fear is to turn it into a sense of exhilaration. When I was working within the skydiving community, we thought of the divers as fearless people. But I discovered that’s not the case at all: They’re just as fearful as the rest of us, but they’re devoted enough to the exploration of the edges to find ways to manage that fear and transform it. And that’s a healthy thing. I recall a conversation with one person when I said, “What would happen if you pulled your rip cord and your parachute didn’t deploy?” and he said, “I would scream all the way to the ground! I don’t want to die. I’m not doing this because I have a death wish—I’m just as afraid of the possibilities as anybody else, but I have confidence in my ability to overcome the negative effects of fear and to maintain a certain kind of composure in the face of fear. 
                    p.quote-author In conversation with Stephen Lyng, Kinfolk Adrenaline Issue
            figure.section8__img1
                img(data-src="/assets/page2/13.jpg", alt="img13", class="lazyload")
                figcaption.image__desc
                    h2.image-heading Making Believe
                    h4.image-type Editorial
        .next-page.image-heading 
                a(href="../../index.pug") Previous Page
    include ../templates/footer.pug
    script(src="/lazyload.js", defer)