nav
    ul.header__nav
        li
            a(href="/index.pug", class="header__logo") Charm
        li.header__nav-item
            a(href="/index.pug") Work
        li.header__nav-item 
            a(href="/gallery.pug") Gallery
        li.header__nav-item 
            a(href="/info.pug") Info