footer.footer 
    ul.footer__contacts
        li
            ul
                li  Developed by Sergey Zakharov
                li  2019
                li  Designed by Ouur Media
        li
            ul
                li 
                    a(href="mailto:zakharov.nsg@gmail.com") zakharov.nsg@gmail.com      
                li 
                    address Russia, Yekaterinburg
                li
                    a(href="https://www.instagram.com/ouur/", target="blank") Instagram  