footer.footer 
    ul.footer__contacts
        ul
            li  Developed by Sergey Zakharov 2019
            li  Designed by Ouur Media
        ul
            li 
                a(href="mailto:zakharov.nsg@gmail.com") zakharov.nsg@gmail.com      
            li 
                address Russia, Yekaterinburg
            li
                a(href="https://www.instagram.com/ouur/", target="blank") Instagram  