footer.footer 
    ul.footer__contacts
        li.footer__contacts-item Developed by Sergey Zakharov 2019
        ul.footer__sublist
            li.footer__contacts-item 
                a(href="mailto:zakharov.nsg@gmail.com") zakharov.nsg@gmail.com      
            li.footer__contacts-item 
                address Russia, Yekaterinburg
            li.footer__contacts-item 
                a(href="https://www.instagram.com/ouur/", target="blank") Instagram  