footer.footer 
    ul.footer__contacts
        li.footer__contacts-item Developed by Sergey Zakharov 
            p 2019
        li.footer__contacts-item 
            a(href="mailto:zakharov.nsg@gmail.com") zakharov.nsg@gmail.com
            address Russia, Yekaterinburg
        li.footer__contacts-item 
            a(href="https://www.instagram.com/ouur/", target="blank") Instagram  