header.header       
    nav(role="navigation")
        ul.header__nav
            li
                a(href="#").header__logo Charm
            li.header__nav-item.link-active 
                a(href="#") Work
            li.header__nav-item 
                a(href="#") Gallery
            li.header__nav-item 
                a(href="#") Info