.slider {
    width: 60%;
    height: 50rem;
    margin: 2rem auto 0 7.5rem;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    filter: none;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.slider-wrapper>.slide:first-child {
    opacity: 1;
}