header.anxious {
    background-color: #ea8685c0;
}

.anxious {
    background-color: #ea8685;

    .section1 {
        figcaption {
            margin-bottom: 3rem;
        }

        &__img1 {
            width: 100%;
        }
    }

    .section2 {
        margin-top: 8rem;

        &__quote {
            width: 50%;
            margin-left: auto;
        }
    }

    .section3 {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &__img1 {
            width: 60%;
            margin-bottom: 10rem;
        }

        &__img2 {
            width: 35%;
        }
    }

    .section4 {
        margin-top: 12rem;

        &__quote {
            width: 50%;
            margin: 0 auto;
        }
    }

    .section5 {
        margin: 12rem auto 0;
        display: flex;
        justify-content: center;

        &__img1 {
            width: 45%;
            padding: 1rem;
        }

        &__img2 {
            width: 45%;
            padding: 1rem;
        }
    }

    .section6 {
        margin-top: 8rem;

        &__img1 {
            width: 100%;
        }
    }
}