.footer {
  background-color: #333;
  padding: 2rem 3rem;
  color: rgba(230, 216, 204, 0.5);

  @include Play;
  font-size: 13px;
  letter-spacing: 1px;

  @include response(phone) {
    font-size: 10px;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20vw;

    @include response(tab-port) {
      margin-right: 0;
    }
  }
}