.slider {
    width: 100%;
    height: 400px;
    margin: 2rem auto;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper>.slide:first-child {
    opacity: 1;
}