.header {
  z-index: 100;
  width: 100%;
  max-width: 192rem;
  position: fixed;
  padding: 2rem 3rem;

  &__logo {
    display: inline-block;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1px;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 40%;
      background-color: #333;
      transform: translateX(100%);
    }
  }

  nav {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__nav {
    display: flex;
    margin-left: auto;
    margin-right: 20vw;

    @include response(phone) {
      position: fixed;
      flex-direction: column;
      background-color: transparent;
      right: -100%;
      top: 0;
      width: 100vw;
      height: auto;
      padding: 8rem 0;
      z-index: 5000;
      transition: all 0.7s ease-in;
      margin: 0;
    }

    &-item {
      font-size: 2.4rem;
      padding: 0 2rem;
      transition: 0.2s all;

      &:hover {
        color: #b20000;
      }
    }
  }
}

#menu {
  display: none;

  @include response(phone) {
    &:checked~.header__nav {
      transform: translateX(-50%);
    }
  }
}

.show-menu-btn {
  display: none;

  @include response(phone) {
    display: block;
    z-index: 9999;
    position: relative;
    font-size: 3rem;
    margin-left: auto;
    cursor: pointer;
  }
}