header.homepage {
  background-color: #e6d8ccb2;
}

.homepage {
  background-color: #e6d8cc;

  img,
  video {
    filter: grayscale(1);
    mix-blend-mode: multiply;

    &:hover {
      filter: none;
      mix-blend-mode: normal;
    }
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img1 {
      width: 45%;
    }

    &__img2 {
      width: 33%;
    }
  }

  .section2 {
    margin-top: 15rem;
  }

  .section3 {
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img1 {
      width: 42%;
    }

    &__img2 {
      width: 42%;
      margin: 0 10rem 10rem 0;
    }
  }

  .section4 {
    margin-top: 15rem;

    &__quote {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section5 {
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__img1 {
      margin-left: 7.5rem;
      width: 42%;
    }

    &__img2 {
      width: 32%;
      margin-right: 7.5rem;
      margin-bottom: 10rem;
    }
  }

  .section6 {
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__quote {
      width: 42%;
      margin-left: 7.5rem;
    }

    &__img1 {
      width: 40%;
      margin-bottom: 5rem;
    }
  }

  .section7 {
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__img1 {
      margin-left: 7.5rem;
      width: 32%;
    }

    &__img2 {
      margin-top: 10rem;
      width: 40%;
      margin-right: 7.5rem;
    }
  }

  .section8 {
    margin-top: 20rem;

    &__img1 {
      width: 86%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section9 {
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__content {
      &--left {
        width: 40%;
        display: flex;
        flex-direction: column;
      }

      &--right {
        width: 42%;
        display: flex;
        flex-direction: column;
        margin-right: 7.5rem;
      }
    }

    &__img1 {
      width: 100%;
    }

    &__img2 {
      margin: 10rem 0;
      width: 100%;
    }

    &__img3 {
      margin-top: 15rem;
      width: 100%;
    }

    &__quote {
      width: 100%;
      margin-right: 7.5rem;
    }
  }

  .section10 {
    margin-top: 20rem;

    &__img1 {
      width: 60%;
      margin-left: 7.5rem;
    }
  }
}