header.new-tendency {
    background-color: #4bcffac0;
}

.new-tendency {
    background-color: #4bcffa;

    .section1 {
        figcaption {
            margin-bottom: 3rem;
        }

        &__img1 {
            width: 100%;
        }
    }

    .section2 {
        margin-top: 8rem;

        &__quote {
            width: 50%;
            margin-left: auto;
        }
    }

    .section3 {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;

        &__img1 {
            width: 50%;
        }

        &__img2 {
            margin-top: 10rem;
            margin-right: 5rem;
            width: 35%;
        }
    }

    .section4 {
        margin-top: 10rem;

        &__img1 {
            width: 80%;
            margin: 0 auto;
        }
    }

    .section5 {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;

        &__quote {
            width: 33%;
            font-style: italic;
        }

        & .slider {
            width: 55%;
        }
    }
}