include pug/templates/head-template.pug
header.header.anxious
    include pug/templates/header.pug
main.main.anxious
    section.section1 
        figure.section1__img1
            figcaption
                h2.image-heading In Anxious Anticipation
                h4.image-type Editorial
            img(src="/assets/Anxious/InAnxiousAnticipation01.jpg", alt="In Anxious Anticipation 1", class="")
    section.section2
        blockquote.section2__quote.quote
            p.quote-text In this article from Kinfolk's Adrenaline Issue, we set out to evoke the hair-raising emotion of anticipation with an image set of stressful scenarios. Our creative team puts our readers on the edge of their seats as the photos creatively capture an everyday stressor in a unique and mischievous way.
            p.quote-text.quote-text--end Kinfolk is a lifestyle magazine published by Ouur. Founded in 2011, Kinfolk is now the leading independent lifestyle magazine for young creative professionals and also produces international editions in Japan, China, Korea and Russia.
    section.section3
        .section3__img1
            img(src="/assets/Anxious/InAnxiousAnticipation02.jpg", alt="In Anxious Anticipation 2", class="")
        .section3__img2
            img(src="/assets/Anxious/InAnxiousAnticipation03.jpg", alt="In Anxious Anticipation 3", class="")
    section.section4
        blockquote.section4__quote.quote
            p.quote-text.quote-text--end "A telltale thump of the heart, the flush feeling that starts in your chest and spreads to your fingertips, the tightening of muscles and the quickening of breath: The effects of adrenaline are positively pulse-pounding, but the physical whoosh we feel in our bodies actually starts in our brains."
    section.section5
        .section5__img1
            img(src="/assets/Anxious/InAnxiousAnticipation04.jpg", alt="In Anxious Anticipation 4", class="")
        .section5__img2
            img(src="/assets/Anxious/InAnxiousAnticipation05.jpg", alt="In Anxious Anticipation 5", class="")
    section.section6
        .section6__img1
            img(src="/assets/Anxious/InAnxiousAnticipation06.jpg", alt="In Anxious Anticipation 6", class="")
    section.section-credits
        .section-credits__wrapper
            h4.section-credits__heading Credits
            p.section-credits__text #[span.cursive Photographer] Aaron Tilley, #[span.cursive Set Designer] Kyle Bean, #[span.cursive Writer] Jordan Kushins, #[span.cursive Art Director] Anja Verdugo, #[span.cursive Creative Director] Nathan Williams, #[span.cursive Editor Georgia] Frances King
    .next-page.image-heading 
            a(href="index.pug") Back
include pug/templates/footer.pug
