include pug/templates/head-template.pug
    header.header.ss16
        include pug/templates/header.pug
    main.main.ss16
        section.section1 
            figure.section1__img1
                figcaption
                    h2.image-heading.image-heading--lg Ouur Collection SS16
                    h4.image-type Editorial
                img(src="/assets/page1/1.jpg", alt="img1", class="")
                
    include pug/templates/footer.pug